[submodule "externals/draco"]
	path = externals/draco
	url = https://github.com/google/draco
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/picojson"]
	path = externals/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "externals/flatbuffers"]
	path = externals/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "externals/grpc"]
	path = externals/grpc
	url = https://github.com/grpc/grpc
